.pagination {
  width: 100%;
  //   height: 5rem;
  min-width: 20rem;
  max-width: 50rem;
  display: flex;

  justify-content: center;
  li {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    // background-color: red;
    &:active {
      background-color: var(--primary-color);
    }
    a {
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 40px;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        top: -12px;
        left: -12px;
        width: 40px;
        height: 40px;
        z-index: 100;
      }
    }
  }
  &_previous,
  &_next {
    width: 60px !important;
  }
  &_li {
    &__active {
      background-color: var(--primary-color);
    }
  }
  &_li,
  &_next,
  &_previous,
  &_break {
    &::marker {
      content: "";
    }
  }
}
