.confirm {
  width: 100%;
  max-width: 100rem;
  min-width: 90rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;

  &_header {
    font-size: 3rem;
    font-weight: 500;
  }
  &_body {
    justify-content: space-between;
    display: flex;

    padding-top: 5rem;
    font-size: 16px;
    height: 100%;
    &_product,
    &_customer {
      flex: 1;

      flex-direction: column;
      width: 50%;
      text-align: start;
      div {
        justify-content: center;
        display: flex;
        padding: 1rem 0;
        span {
          width: 16rem;
        }
        p {
          width: calc(100% - 16rem);
          font-weight: 500;
        }
      }
    }
  }
  &_footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    button {
      height: 4rem;
      width: 12rem;
      border: none;
    }
    &_delete {
      background-color: red;
    }
  }
}
