.header {
  padding: 0 5%;
  max-width: 1440px;
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  button {
    font-size: 1.6rem;
    width: 10rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  button:hover {
    background-color: #ccc;
  }
  &_auth {
    // align-items: flex-end;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      padding: 0.5em;
      font-size: 16px;
      text-decoration: none;
      // background-color: #000;
      border-radius: 4px;
      width: 40%;
      &:hover {
        opacity: 0.4;
      }
    }
    &_login {
      background-color: #ccc;
    }
    &_register {
      background-color: var(--primary-color);
    }
  }
}
p {
  font-size: 1.6rem;
}

.header_navbar {
  display: flex;
  align-items: center;

  a {
    width: 11rem;
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    color: #000;
  }
  // a:after {
  //   content: "";
  //   position: absolute;
  //   height: 100%;
  //   width: 1px;
  //   background-color: #000;
  //   right: 0px;
  //   top: 0;
  // }
}
.navbar_logo {
  padding-right: 5%;
}
