.input {
  width: 100%;
  &__lable {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0.5em 0;
  }
  &__input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1.2rem;
    border: 1px solid #000;
    border-radius: 6px;
  }
  &__error {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: red;
  }
}
