.cart {
  min-height: 90rem;

  &_body {
    position: relative;
    margin: 12rem;
    &_head {
    }
    &_content {
      height: 100%;
      margin: 10rem 0;
    }
  }
  &_select {
    font-size: 2rem;
    padding: 4rem 12rem;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    height: 20rem;
    width: 100%;
    background-color: var(--primary-color);
    bottom: 0%;

    &_buy {
      font-size: 2rem;
      width: 15rem;
      height: 5rem;
      background-color: rgb(241, 99, 84);
      border: none;
      color: #000;
      text-decoration: none;
      line-height: 5rem;
    }
  }
}
